@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

body {
  background-color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
}

@theme {
/* Colors */
  --color-Dark: #202334;
  --color-Tuna: #373949;
  --color-ParisGreen: #44c486;
  --color-GreenThumb: #b2eda1;
  --color-LightGrayGreen: #abe39c;
  --color-AquaDeep: #014d43;
  --color-SoftPeach: #eceff1;
  --color-BlackEel: #444444;
  --color-Iron: #d4d7d8;

/* Fonts */
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;

/* Viewpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 480px; 
  --breakpoint-md: 768px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1200px;
}
